<!DOCTYPE html>
<html lang="en"> 
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Course page of university of love">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preload" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" onload="this.onload=null;this.rel='stylesheet';this.removeAttribute('as')" as="style">
        <link async  rel="stylesheet" rel="preload">
        <title>Course Page</title> 

        <!-- no-JS fallback -->
        <noscript>
            <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap">
        </noscript>
    </head>
    <body>
        <nav-default></nav-default>
        <main>
            <section class="course__backdrop-image">
                <div class="course__banner-text">
                    <h2>Transform Your Relationships with Expert-Led Courses</h2>
                    <p>Explore a variety of courses designed to help you build stronger connections, heal from past experiences, and grow in love.</p>
                </div>
            </section>

            <section class="course__section course__right-courses">
                <div>
                    <h2>Find the right course for you</h2>
                    <p>Lorem ipsum dolor sit amet consectetur. Arcu et 
                            quisque lorem faucibus eget dictumst viverra metus. 
                            Aliquam ullamcorper sed neque egestas donec.</p>
                    <div class="course__select-course-container">
                        <select class="course__select-course"></select>
                    </div>
                </div>

                <ul>
                    <li><a href="course_content.html">All</a></li>
                    <li><a href="course_content.html">Love</a></li>
                    <li><a href="course_content.html">Breakup</a></li>
                    <li><a href="course_content.html">Marriage</a></li>
                    <li><a href="course_content.html">Depression</a></li>
                    <li><a href="course_content.html">Individual</a></li>
                </ul>

                <div class="course__course-cards">
                    <div class="course__course-card">
                        <picture>
                            <source srcset="../../images/course/man-with-tab-lib.webp" type="image/webp"></source>
                            <img src="../../images/course/man-with-tab-lib.png" alt="man in library">
                        </picture>

                        <div class="course__course-card-description">
                            <h3>University of Love</h3>
                            <p>Learn how to create and maintain meaningful 
                                relationships.</p>

                            <div>
                                <div>
                                    <img src="../../images/course/time.png">
                                    <p>15 Minutes</p>
                                </div>
                                <button>Start Reading</button>
                            </div>
                        </div>
                    </div>

                    <div class="course__course-card">
                        <picture>
                            <source srcset="../../images/course/2-people-lib-books.webp" type="image/webp"></source>
                            <img src="../../images/course/2-people-lib-books.png" alt="two people in the library rifling through shelf">
                        </picture>

                        <div class="course__course-card-description">
                            <h3>Effective Communication for 
                                Couples</h3>
                            <p>Strengthen your bond with proven 
                                communication strategies.</p>

                            <div>
                                <div>
                                    <img src="../../images/course/time.png">
                                    <p>15 Minutes</p>
                                </div>
                                <button>Start Reading</button>
                            </div>
                        </div>
                    </div>

                    <div class="course__course-card">
                        <picture>
                            <source srcset="../../images/course/loving-embrace-blk.webp" type="image/webp"></source>
                            <img src="../../images/course/loving-embrace-blk.png" alt="Black couple in an embrace">
                        </picture>

                        <div class="course__course-card-description">
                            <h3>Dating with Confidence</h3>
                            <p>Overcome insecurities and navigate the modern 
                                dating world with ease.</p>

                            <div>
                                <div>
                                    <img src="../../images/course/time.png">
                                    <p>15 Minutes</p>
                                </div>
                                <button>Start Reading</button>
                            </div>
                        </div>
                    </div>

                    <div class="course__course-card">
                        <picture>
                            <source srcset="../../images/course/man-braids-in-bed.webp" type="image/webp"></source>
                            <img src="../../images/course/man-braids-in-bed.png" alt="Couple sleeping in bed">
                        </picture>

                        <div class="course__course-card-description">
                            <h3>Breakup Recovery 101</h3>
                            <p>Heal from past relationships and rediscover 
                                yourself.</p>

                            <div>
                                <div>
                                    <img src="../../images/course/time.png">
                                    <p>15 Minutes</p>
                                </div>
                                <button>Start Reading</button>
                            </div>
                        </div>
                    </div>

                    <div class="course__course-card">
                        <picture>
                            <source srcset="../../images/course/couple-up-in-bed.webp" type="image/webp"></source>
                            <img src="../../images/course/couple-up-in-bed.png" alt="Breakup recovery 101">
                        </picture>

                        <div class="course__course-card-description">
                            <h3>Emotional Resilience After Heartbreak</h3>
                            <p>Learn coping strategies for emotional recovery.</p>

                            <div>
                                <div>
                                    <img src="../../images/course/time.png">
                                    <p>15 Minutes</p>
                                </div>
                                <button>Start Reading</button>
                            </div>
                        </div>
                    </div>

                    <div class="course__course-card">
                        <picture>
                            <source srcset="../../images/course/lady-snoop-phone.webp" type="image/webp"></source>
                            <img src="../../images/course/lady-snoop-phone.png" alt="Rediscovering self-love">
                        </picture>

                        <div class="course__course-card-description">
                            <h3>Rediscovering Self-love</h3>
                            <p>Build self-worth and confidence before your 
                                next relationship.</p>

                            <div>
                                <div>
                                    <img src="../../images/course/time.png">
                                    <p>15 Minutes</p>
                                </div>
                                <button>Start Reading</button>
                            </div>
                        </div>
                    </div>

                    <div class="course__course-card">
                        <picture>
                            <source srcset="../../images/course/counselling-essentials.webp" type="image/webp"></source>
                            <img src="../../images/course/counselling-essentials.png" alt="Rediscovering self-love">
                        </picture>

                        <div class="course__course-card-description">
                            <h3>Pre-Marital Counseling Essentials</h3>
                            <p>Prepare for a fulfilling marriage with expert 
                                guidance.</p>

                            <div>
                                <div>
                                    <img src="../../images/course/time.png">
                                    <p>15 Minutes</p>
                                </div>
                                <button>Start Reading</button>
                            </div>
                        </div>
                    </div>

                    <div class="course__course-card">
                        <picture>
                            <source srcset="../../images/home/couple-image-sm.webp" type="image/webp"></source>
                            <img src="../../images/home/couple-image-sm.png" alt="Rediscovering self-love">
                        </picture>

                        <div class="course__course-card-description">
                            <h3>Keeping the Spark Alive</h3>
                            <p>Maintain passion and intimacy in long-term</p>

                            <div>
                                <div>
                                    <img src="../../images/course/time.png">
                                    <p>15 Minutes</p>
                                </div>
                                <button>Start Reading</button>
                            </div>
                        </div>
                    </div>

                    <div class="course__course-card">
                        <picture>
                            <source srcset="../../images/course/man-with-son-kitchen-china.webp" type="image/webp"></source>
                            <img src="../../images/course/man-with-son-kitchen-china.png" alt="Rediscovering self-love">
                        </picture>

                        <div class="course__course-card-description">
                            <h3>Faith-Based Marriage Coaching</h3>
                            <p>Strengthen your relationship through spiritual </p>

                            <div>
                                <div>
                                    <img src="../../images/course/time.png">
                                    <p>15 Minutes</p>
                                </div>
                                <button>Start Reading</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <next-steps></next-steps>

            <!-- Testimonials section -->
            <section class="course__section course__section--our-testimonials">
                <h2 class="course__heading">OUR TESTIMONIALS</h2>
                <div>
                    <h2>Life changing stories from our clients</h2>
                    <p>Lorem ipsum dolor sit amet consectetur. Arcu et 
                        quisque lorem faucibus eget dictumst viverra metus. 
                        Aliquam ullamcorper sed neque egestas donec.</p>
                </div>
                
                <div class="course__testimonial-cards">
                    <testimonial-card></testimonial-card>
                    <testimonial-card></testimonial-card>
                    <testimonial-card></testimonial-card>
                    <testimonial-card></testimonial-card>
                </div>
            </section>
       <main>
        <footer-default></footer-default>
    </body>
</html>