/* Extra small devices (phones, 320px and up) */
:root {
    --left-numbering-offset: 4px;
}

@media only screen and (min-width: 320px) {
    .course {
        &__heading {
            font-size: 2rem;
            text-decoration: underline;
            padding: 0;
            font-weight: 500;
            // margin-left: 50%;
            // width: 80%;
            text-align: center;
            color: var(--light-blue-1);
            // transform: translateX(-50%);
        }
        &__backdrop-image {
            position: relative;
            background: url('../../images/course/couple-embrace.png');
            background: url('../../images/course/couple-embrace.webp');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            overflow: hidden; 
            height: 30rem;
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(0, 0, 0, 0.3);
            }
        }
        &__banner-text {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 20%;
            width: 90%;
            & > h2 {
                font-size: 2rem;
                font-weight: 700;
            } 
            & > p {
                font-size: 1.5rem;
                margin-top: 2rem;
                font-weight: 500;
            }
            & > h2, & > p {
                color: var(--white);
                text-align: center;
            }
        }
        &__right-courses {
            & > div:first-child {
                & > h2, & > p {
                    text-align: center;
                }
                & > h2 {
                    font-size: 2.3rem;
                }
                & > p {
                    margin-top: 1rem;
                    font-size: 1.5rem;
                    color: var(--light-grey-1)
                }
                & > div.course__select-course-container {
                    text-align: center;
                    & > select {
                        padding: 5px 2rem;
                        margin-top: 2rem;
                    }
                }
            }
            & > ul {
                display: none
            }
        }
        &__course-cards, &__related-courses {
            margin-top: 3rem;
            display: flex;
            flex-direction: column;
        }
        &__related-courses {
            margin-left: auto;
            margin-right: auto
        }
        &__course-card, &__related-course-card {
            background-color: var(--light-blue-4);
            padding: 1.5rem;
            border-radius: 2rem;
            &:not(:first-child) {
                margin-top: 3rem;
            }
            & > picture {
                & > img {
                    border-radius: 1.5rem;
                    width: 100%;
                    height: 20rem;
                    object-fit: cover;
                }
            }
        }
        &__course-card-description {
            margin-top: 1rem;
            & > h3 {
                font-size: 1.6rem;
            }
            & > p {
                font-size: 1.5rem;
                margin-top: 5px;
            }
            & > div {
                display: flex;
                align-items: center;
                margin-top: 2rem;
                justify-content: space-between;
                & > div {
                    display: flex;
                    align-items: center;
                    & > p {
                        font-size: 1.4rem;
                        margin-left: 4px
                    }
                    & > img {
                        width: 1.4rem;
                        height: 1.4rem;
                    }
                }
                & > button {
                    padding: 8px 1rem;
                    border-radius: 3rem;
                    background-color: var(--light-blue-2);
                    border: none;
                    font-size: 1.3rem;
                    color: var(--white)
                }
            }

        }
        &__section {
            padding: 2.5rem 2rem;
            &--our-testimonials {
                & > div {
                    & > h2 {
                        font-size: 2.5rem;
                        text-align: center;
                        margin-top: 2rem;
                    }
                    & > p {
                        font-size: 1.5rem;
                        color: var(--light-grey-1);
                        text-align: center;
                        margin-top: 1rem;
                        // color: $lightGrey6
                    }
                }
            }
        }
        &__details {
            & > div > picture {
                position: relative;
                &::before {
                    position: absolute;
                    content: '';
                    width: 60%;
                    height: 14rem;
                    background-color: var(--cream-1);
                    bottom: -2rem;
                    z-index: -1;
                    border-radius: 2rem;
                    left: -2rem;
                }
                & > img {
                    // justify-content: flex-end;
                    z-index: 3;
                    display: inline-block;
                    border-radius: 2rem;
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
            }
            & > div > div { 
                margin-top: 3rem;
                & > h2 {
                    font-size: 1.8rem;
                }
                & > p {
                    margin-top: 5px;
                    font-size: 1.4rem
                }
                & > h4 {
                    font-size: 1.4rem;
                    margin-top: 2rem;
                    font-weight: 500;
                }
                & > button {
                    border-radius: 5rem;
                    width: 100%;
                    margin: 1.5rem auto;
                    padding: 1rem;
                    border: none;
                    background-color: var(--light-blue-1);
                    color: var(--white)
                }
                & > div {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 5px;
                    font-size: 1.3rem;
                    & > div {
                        margin-top: 5px;
                        display: flex;
                        
                        & > img {
                            width: 1.3rem;
                            height: 1.3rem;
                            object-fit: cover;   
                            margin-right: 2px;
                        }
                    }
                }
            }
            &__tabs {
                margin-top: 3rem;
                display: flex;
                list-style: none;
                border-bottom: 1px solid var(--light-grey-5);
                & > li {
                    cursor: pointer;
                    font-size: 1.4rem;
                    padding: 1rem;
                    text-align: center;
                    flex-basis: 33.3%;
                    position: relative;
                    &:hover::after, &::after {
                        content: '';
                        position: absolute;
                        bottom: -2px;
                        left: 0;
                        right: 0;
                        width: 100%;
                        height: 3px;
                    }
                    &:hover {
                        &::after {
                            background-color: var(--light-blue-1);
                            opacity: 0.5;
                        }
                    }
                    &.active {
                        &::after{
                            background-color: var(--light-blue-1);
                        }
                    }
                }
            }
            &__outcomes {
                // @include counter;
                list-style-type: none;
                font-size: 1.5rem;
                font-weight: 500;
                counter-reset: counter;
                & > li {
                    position: relative;
                    counter-increment: counter;
                    margin-left: 2rem;
                    &:first-child {
                        margin-top: 1rem
                    }
                    &:not(:first-child) {
                        margin-top: 2rem
                    }
                    &::before {
                        position: absolute;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        left: -2rem;
                        top: 50%;
                        transform: translateY(-50%);
                        content: counter(counter);
                        font-size: 1rem;
                        color: var(--white);
                        width: 1.3rem;
                        height: 1.3rem;
                        background-color: var(--light-blue-1);
                    }
                    &::after {
                        position: absolute;
                        content: '';
                        width: 1px;
                        top: 3rem;
                        left: calc(-2rem) + calc(1.3rem/2);
                        transform: translateY(-50%);
                        height: 2rem;
                        background-color: var(--light-grey-6)
                    }
                }
                & > li.last {
                    &::after {
                        display: none
                    }
                }
            }
        }
        &__tab-content {
            margin-top: 2rem;
            & > h2 {
                font-size: 1.8rem;
            }
            & > p {
                font-size: 1.4rem;
                margin-top: 1rem;
                color: var(--light-grey-1);
            }
            & > h3 {
                font-size: 1.8rem;
                margin-top: 2rem;
            }
        }
        &__tab-content--course-content {
            & > div {
                & > h2 {
                    font-size: 1.8rem;
                }
                & > p {
                    font-size: 1.4rem;
                    margin-top: 1rem;
                    color: var(--light-grey-1);
                }
                & > h3 {
                    font-size: 1.8rem;
                    margin-top: 2rem;
                }
            }
        }
        &__related-courses-section {
            background-color: var(--light-blue-5);
            & > h2 {
                text-align: center;
                font-size: 1.8rem;
            }
        }
        &__related-courses {
            &__view-all {
                &--mobile {
                    font-size: 1.4rem;
                    margin-top: 1rem;
                    text-align: right;
                    & > a {
                        text-decoration: none;
                    }
                }
            }
        }
        &__course-content {
            &__card {
                cursor: pointer;
                position: relative;
                & > input[type="checkbox"] {
                    display: none;
                    &:checked {
                        & + label {
                            & .course__course-content__plus-icon {
                                position: absolute;
                                visibility: none;
                                opacity: 0;
                                transition: opacity 150ms;
                            }
                            & .course__course-content__minus-icon {
                                position: relative;
                                visibility: visible;
                                opacity: 1;
                                transition: opacity 200ms;
                            }
                        }   
                        & ~ .course__course-content__answer {
                            transition: transform 300ms;
                            transform: translateY(.6rem);
                            position: relative;
                            visibility: visible;
                            opacity: 1;
                            margin-bottom: 5px;
                        }
                    }
                }
                & > label {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 1rem 1.5rem;
                }
                & > div {
                    margin-top: 1rem;
                    height: auto;                    
                }
                & > div, & > label {
                    border: 1px solid var(--light-grey-5);
                    padding: 1rem 1.5rem;
                }
                &:first-of-type {
                    margin-top: 2rem;
                }
                &:not(:first-of-type) {
                    margin-top: 1.5rem;
                }
            }
            &__image {
                display: none;
            }
            &__minus-icon {
                position: absolute;
                opacity: 0;
            }
            &__plus-icon {
                position: relative;
            }
            &__question {
                font-size: 1.3rem;
                font-weight: 500;
            }
            &__answer {
                position: absolute;
                visibility: none;
                opacity: 0;
                font-size: 1.3rem;
                transform: translateY(0);
                transition: transform 300ms,
                            opacity 100ms;      
                & > ul {
                    list-style-type: none;
                    & > li:not(:first-child) {
                        margin-top: 1rem;
                    }
                }         
            }
            &__expand {
                border: 1px solid var(--light-grey-6);
                margin-top: 3rem;
                padding: 1.5rem 1rem;
                & > h3 {
                    font-weight: 500;
                    font-size: 1.6rem;
                }

                & > p {
                    font-size: 1.4rem;
                    margin-top: 1rem;
                    line-height: 2.5rem;
                }
            }
        }
        &__reviews {
            margin-top: 2rem;
            & > div {
                & > picture {
                    & > img {
                        width: 100%;
                        height: 25rem;
                        object-fit: cover;
                        object-position: center;
                        border-radius: 1rem;
                    }
                }
            }
            &__reviewer-details {
                & > h3 {
                    font-size: 1.8rem;
                    font-weight: 500;
                    margin-top: 1rem
                }
                & > h6 {
                    font-size: 1.4rem;
                    color: var(--light-grey-4);
                    font-weight: 400;
                }
                & > p {
                    font-size: 1.3rem;
                    margin-top: 1rem;
                    color: var(--light-grey-4);
                    margin-bottom: 1rem
                }
            }
            &__write-a-review {
                margin-top: 5rem;
                & > h3 {
                    font-size: 1.8rem;
                    margin-top: 2rem;
                    text-align: center;
                }

                & input {
                    padding: 1rem;
                    border-radius: 1rem;
                    width: 100%;
                    border: 1px solid var(--light-grey-4)
                }
                & textarea {
                    padding: 1rem;
                    width: 100%;
                    height: 10rem;
                    margin-bottom: 2rem;
                }
                & button {
                    color: var(--light-blue-1);
                    border: 2px solid var(--light-blue-1);
                    font-size: 1.4rem;
                    background-color: transparent;
                    padding: 1rem;
                    text-align: center;
                    border-radius: 5rem;
                    margin-bottom: 3rem;
                    width: 100%;
                }
                & > div {
                    & > div {
                        & > input:first-child {
                            margin-top: 2rem;
                            margin-bottom: 2rem;
                        }
                        & > input:nth-child(2) {
                            margin-bottom: 3rem
                        }
                    }
                }
            }
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .course {
        &__heading {
            display: inline;
            margin: 0;
        }
        &__backdrop-image {
            background: url('../../images/course/couple-embrace-lg.png');
            background: url('../../images/course/couple-embrace-lg.webp');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            overflow: hidden; 
            height: 50rem;
            &:before {
                background: rgba(0, 0, 0, 0.4);
            }
        }
        &__banner-text {
            position: absolute;
            top: 30%;
            width: 60%;
            & > h2 {
                font-size: 3rem;
            } 
            & > p {
                font-size: 1.8rem;
                width: 80%;
                margin-right: auto;
                margin-left: auto;
                font-weight: 400;
            }
        }
        &__right-courses {
            & > div:first-child {
                display: flex;
                & > h2, & > p {
                    text-align: left;
                }
                & > h2 {
                    font-size: 3rem;
                    flex-basis: 60%
                }
                & > p {
                    font-size: 1.6rem;
                    margin-top: 0;
                    flex: 1
                }
                & > div.course__select-course-container {
                    & > select {
                        display: none
                    }
                }
            }
            & > ul {
                display: flex;
                justify-content: space-between;
                width: 70%;
                margin: 8rem auto 6rem auto;
                list-style: none;
                & li {
                    font-size: 2rem;
                    & > a {
                        text-decoration: none;
                        color: var(--light-grey-4);
                    }
                }
            }
        }
        &__course-cards {
            display: grid;
            grid-template-columns: 30% 30% 30%;
            grid-template-rows: auto;
            justify-content: space-between;
            row-gap: 3rem;
        }
        &__related-courses {
            flex-direction: row;
            margin-left: 0;
            margin-right: 0;
            overflow-x: auto;
            &__view-all {
                &--mobile {
                    display: none
                }
            }
        }
        &__course-card, &__related-course-card {
            padding: 1.5rem;
            &:not(:first-child) {
                margin-top: 0;
            }
            & > picture {
                & > img {
                    border-radius: 1.5rem;
                    width: 100%;
                    height: 20rem;
                    object-fit: cover;
                }
            }
        }
        &__related-course-card {
            min-width: 35rem;
            &:not(:first-child) {
                margin-left: 3rem;
            }
        }
        &__course-card-description {
            & > h3 {
                height: 3rem;
            }
            & > p {
                height: 4rem;
            }
        }
        &__testimonial-cards {
            display: flex;
            flex-direction: row-reverse;
            margin: 3rem auto;
            width: 100%;
            position: relative;
            & > article {
                border: 20px solid red;
            }
        }
        &__section {
            padding: 4rem 3rem;
            &--our-testimonials {
                & > div {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 4rem;
                    & > h2 {
                        flex-basis: 30%;
                        font-size: 3rem;
                        text-align: left;
                        margin-top: 0;
                    }
                    & > p {
                        flex-basis: 30%;
                        font-size: 1.6rem;
                        margin-top: 0;
                        margin-right: 10rem;
                    }
                }
            }
        }
        &__testimonial-cards {
            display: flex;
            flex-direction: row-reverse;
            margin: 3rem auto;
            width: 100%;
            position: relative;
        }
        &__details {
            & > div {
                display: flex;
                & > picture {
                    // width: 30rem;
                    // height: 30rem;
                    // object-fit: cover;
                    flex-basis: 45%;
                    & > img {
                        width: 50rem;
                        height: auto;
                    }
                }
                & > div {
                    flex-basis: 30%;
                    margin-top: 3rem;
                    & > h2 {
                        font-size: 2.4rem;
                    }
                    & > p {
                        margin-top: 1rem;
                        font-size: 1.6rem
                    }
                    & > h4 {
                        font-size: 1.8rem;
                        margin-top: 2rem;
                    }
                    & > button {
                        margin: 1.5rem auto;
                        padding: 1.5rem 1rem;
                        font-size: 1.6rem;
                    }
                    & > div {
                        margin-top: 1rem;
                        font-size: 1.5rem;
                        & > div {
                            margin-top: 1rem;
                            display: flex;
                            
                            & > img {
                                width: 1.5rem;
                                height: 1.5rem;
                                margin-right: 2px;
                            }
                        }
                    }
                }
            }
            &__outcomes {
                // @include counter;
                list-style-type: none;
                font-size: 1.6rem;
                font-weight: 500;
                // counter-reset: counter;
                & > li {
                    // position: relative;
                    // counter-increment: counter;
                    margin-left: 3rem;
                    &:first-child {
                        margin-top: 2rem
                    }
                    &:not(:first-child) {
                        margin-top: 3rem
                    }
                    &::before {
                        left: -3rem;
                        font-size: 1.5rem;
                        padding: 1rem;
                        width: 1.6rem;
                        height: 1.6rem;
                    }
                    &::after {
                        top: 3.5rem;
                        left: calc(-3rem) + calc(1.6rem/2);
                    }
                }
            }
            &__tabs {
                & > li {
                    font-size: 1.6rem;
                    flex-basis: 15%;
                }
            }
        }
        &__tab-content {
            margin-top: 3rem;
            & > h2 {
                font-size: 2.4rem;
            }
            & > p {
                font-size: 1.6rem;
                margin-top: 2rem;
                color: var(--light-grey-1);
            }
            & > h3 {
                font-size: 2.4rem;
                margin-top: 2.5rem;
            }
            &--course-content {
                display: flex;
                justify-content: space-between;
                & > div:first-child {
                        flex-basis : 45%
                }
                & > div:nth-child(2) {
                        flex-basis: 50%;
                }
                & > div {
                    & > h2 {
                        font-size: 2.4rem;
                    }
                    & > p {
                        font-size: 1.6rem;
                        margin-top: 2rem;
                        color: var(--light-grey-1);
                    }
                    & > h3 {
                        font-size: 2.4rem;
                        margin-top: 2.5rem;
                    }
                }
            }
            &--what-youll-learn {
                width: 45%;

            }
        }
        &__course-content {
            &__question {
                font-size: 1.6rem;
                font-weight: 500;
            }
            &__answer {
                font-size: 1.4rem;
                & > ul {
                    & > li:not(:first-child) {
                        margin-top: 1.5rem;
                    }
                }         
            }
            &__expand {
                margin-top: 3rem;
                padding: 1.5rem 1rem;
                & > h3 {
                    font-size: 2rem;
                }

                & > p {
                    font-size: 1.6rem;
                }
            }
        }
        &__reviews {
            & > div:first-child {
                display: flex;
                & > picture {
                    flex-basis: 30%;
                    & > img {
                        width: 30rem;
                        height: 30rem;
                        object-fit: cover;
                    }
                }
            }
            &__reviewer-details {
                flex-basis: 50%;
                & > h3 {
                    font-size: 2.4rem;
                }
                & > h6 {
                    font-size: 2rem;
                }
                & > p {
                    font-size: 1.6rem;
                }
                & > a {
                    font-size: 1.4rem;
                }
            }
            &__write-a-review {
                width: 80%;
                & > h3 {
                    font-size: 2.4rem;
                    margin-top: 3rem;
                    text-decoration: underline;
                    text-decoration-color: var(--light-blue-1);
                    text-align: left;
                }
                & > button {
                    padding: 1.5rem 1rem;
                    font-size: 1.6rem;
                    width: 30rem;
                    margin-top: 3rem
                }
                & > div > div {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                   
                    & > input {
                        padding: 1.5rem 1rem;
                        font-size: 1.6rem;
                    }
                    & > textarea {
                        font-size: 1.6rem;
                        margin-top: 1rem;
                        height: 15rem;
                    }
                    & > input:first-child {
                        flex-basis: 45%;
                    }
                    & > input:nth-child(2) {
                        flex-basis: 45%;
                        margin-bottom: 0;
                    }
                }
            }
        }
        &__related-courses-section {
            & > h2 {
                text-align: left;
                font-size: 2.4rem;
            }
        }
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}