<!DOCTYPE html>
<html lang="en"> 
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Contact page of university of love">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preload" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" onload="this.onload=null;this.rel='stylesheet';this.removeAttribute('as')" as="style">
        <link async  rel="stylesheet" rel="preload">
        <title>Contact</title> 
        
        <!-- no-JS fallback -->
        <noscript>
            <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap">
        </noscript>
        
    </head>
    <body>
        <header>
            <nav class="contact__nav" style="display: none">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </nav>

            <main>
                <div class="contact__backdrop">
                    <div>
                        <h1>We’re Here to Help – Let’s Connect</h1>
                        <p>Have questions or need support? Reach out to us, and we’ll be happy to assist you on your journey to better relationships</p>

                        <div class="contact__backdrop__buttons">
                            <button class="contact__backdrop__button contact__backdrop__button--solid-white">Get in Touch</button>
                            <button class="contact__backdrop__button contact__backdrop__button--outline-white">Contact Us</button>
                        </div>
                    </div>
                </div>
            </main>

            <footer>

            </footer>
        </header>
    </body>
</html>