<!DOCTYPE html>
<html lang="en"> 
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Contact page of university of love">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preload" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" onload="this.onload=null;this.rel='stylesheet';this.removeAttribute('as')" as="style">
        <link async  rel="stylesheet" rel="preload">
        <title>Contact</title> 
        
        <!-- no-JS fallback -->
        <noscript>
            <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap">
        </noscript>
        
    </head>
    <body>
        <header>
            <nav class="contact__nav" style="display: none">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </nav>

            <main>
                <section class="contact__backdrop">
                    <div>
                        <h1>We’re Here to Help – Let’s Connect</h1>
                        <p>Have questions or need support? Reach out to us, and we’ll be happy to assist you on your journey to better relationships</p>

                        <div class="contact__backdrop__buttons">
                            <button class="contact__backdrop__button contact__backdrop__button--solid-white">Get in Touch</button>
                            <button class="contact__backdrop__button contact__backdrop__button--outline-white">Contact Us</button>
                        </div>
                    </div>
                </section>

                <article class="contact__contact-info-message-container">
                    <article class="contact__contact-info">
                        <h2 class="contact__heading contact__heading--primary">Contact Info</h2>
                        <h3 class="contact__heading--secondary">We are Here to Help. Let's Connect</h3>
                        <p class="contact__contact-info__message">Have questions or need support? Reach out to us, 
                            and we’ll be happy to assist you on your journey to 
                            better relationships.</p>
                        <ul class="contact__contact-info__list">
                            <li>
                                <img src="../../images/contact/email-blue.png" alt="email address" />
                                <div>
                                    <strong>Email Address</strong>
                                    <p>Support@VirtualLoveAcademy</p>
                                </div>
                            </li>
                            <li>
                                <img src="../../images/contact/phone-blue.png" alt="email address" />
                                <div>
                                    <strong>Phone Number</strong>
                                    <p>+1(123) 456-7890</p>
                                </div>
                            </li>
                            <li>
                                <img src="../../images/contact/location-blue.png" alt="email address" />
                                <div>
                                    <strong>Office Address</strong>
                                    <p>123 Main Street, City, State, ZIP Code</p>
                                </div>
                            </li>
                        </ul>
                    </article>
                    <section class="contact__form-section">
                        <h2 class="contact__heading contact__heading--primary">Send A Message</h2>
                        <form class="contact__form-section__form">
                            <div>
                                <input placeholder="Your Name">
                                <input placeholder="Your Email">
                            </div>
                            <div>
                                <input placeholder="Subject">
                            </div>
                            <div>
                                <textarea placeholder="Message*"></textarea>
                            </div>

                            <button class="contact__form-section__button">Submit</button>
                        </form>
                    </section>
                </article>



                <article class="contact__faqs-container">
                    <article class="contact__faqs__image">
                        
                    </article>
                    <section class="contact__faqs">
                        <h2 class="contact__heading contact__heading--primary">FAQs</h2>
                        <h3 class="contact__heading--secondary">Your Questions Answered</h3>
                        <div class="contact__faqs__card">
                            <input type="checkbox" id="contact__question-1"/>
                            <label for="contact__question-1">
                                <p class="contact__faqs__question">How long does it take to get a response?</p>
                                <div>
                                    <img class="contact__faqs__plus-icon" src="../../images/contact/cross-icon.png">
                                    <img class="contact__faqs__minus-icon" src="../../images/contact/minus-icon.png">
                                </div>
                            </label>
                            <p class="contact__faqs__answer">
                                We typically respond within 24-48 hours.
                            </p>
                        </div>
                        <div class="contact__faqs__card">
                            <input type="checkbox" id="contact__question-2"/>
                            <label for="contact__question-2">
                                <p class="contact__faqs__question">Do you offer free consultations?</p>
                                <div>
                                    <img class="contact__faqs__plus-icon" src="../../images/contact/cross-icon.png">
                                    <img class="contact__faqs__minus-icon" src="../../images/contact/minus-icon.png">
                                </div>
                            </label>
                            <p class="contact__faqs__answer">
                                We are aware that not everyone can afford our services so we offer free consultations. However, determination will be done a case-by-case basis.
                            </p>
                        </div>
                        <div class="contact__faqs__card">
                            <input type="checkbox" id="contact__question-3"/>
                            <label for="contact__question-3">
                                <p class="contact__faqs__question">How can I reschedule a session?</p>
                                <div>
                                    <img class="contact__faqs__plus-icon" src="../../images/contact/cross-icon.png">
                                    <img class="contact__faqs__minus-icon" src="../../images/contact/minus-icon.png">
                                </div>
                            </label>
                            <p class="contact__faqs__answer">
                                You can reach our customer service by email or by the phone numbers provided to reschedule a session.
                            </p>
                        </div>
                    </section>
                </article>

                <section class="contact__next-steps">
                    <h1>Take the Next Step in Your 
                        Relationship Journey</h1>
                    <p>Sign up today and start learning from the best relationship coaches!</p>
                    <button class="contact__backdrop__button contact__backdrop__button--outline-white">Get Started</button>
                </section>
            </main>

            <footer>

            </footer>
        </header>
    </body>
</html>