/* Extra small devices (phones, 320px and up) */
@media only screen and (min-width: 320px) {
    .contact {
        &__nav {
            & > ul {
                display: none
            }
        }
        &__backdrop {
            background: url('../../images/contact/man-typing-sm.png');
            background: url('../../images/contact/man-typing-sm.webp');
            background-size: cover;
            height: 30rem;
            background-repeat: no-repeat;
            background-position: center;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(0, 0, 0, 0.5);
            }
            & > div {
                width: 95%;
                color: var(--white);
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                & > h1 {
                    font-size: 2.5rem;
                    font-weight: 700;
                }
                & > p {
                    font-size: 1.5rem;
                    margin-top: 1rem;
                    font-weight: 500;
                }
            }
            &__buttons {
                margin-top: 1.5rem;
            }
            &__button {
                background-color: transparent;
                border: none;
                border-radius: 5rem;
                padding: 1rem;
                width: 15rem;
                font-weight: 500;
                
                &--solid-white {
                    background-color: var(--white);
                    color: var(--light-blue-2);
                    margin-right: 1rem;
                }
                &--outline-white {
                    border: 1px solid var(--white);
                    color: var(--white);
                    margin-right: 1rem;
                }
            }
        }
        &__heading {
            display: inline-block;
            padding: 5px;
            font-weight: 500;
            margin-left: 50%;
            text-align: center;
            transform: translateX(-50%);
            &--primary {
                font-size: 1.8rem;
                border-bottom: 5px solid var(--light-blue-1);
            }
            &--secondary {
                font-size: 2.2rem;
                margin-top: 2rem;
                text-align: center
            }    
        }
        &__contact-info-message-container {
            padding: 3rem 2rem;
        }
        &__contact-info {
            &__message {
                color: var(--light-grey-1);
                font-size: 1.5rem;
                margin-top: 1rem;
                text-align: center;
            }
            &__list {
                width: 85%;
                list-style: none;
                display: flex;
                flex-direction: column;
                margin-right: auto;
                margin-left: auto;
                margin-top: 1rem;
                & li {
                    display: flex;
                    align-items: flex-start;
                    margin-top: 2rem; 
                    & > img {
                        width: 2rem;
                        height: auto;
                    }
                    & > div {
                        margin-left: 1rem; 
                        & > strong {
                            font-size: 1.4rem;
                        }
                        & > p {
                            font-size: 1.4rem;
                            margin-top: 1rem;
                        }
                    }
                }
            }
        }

        &__form-section {
            margin-top: 3rem;
            &__form {
                & > div:first-child {
                    margin-top: 3rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    // justify-content: space-between;   
                    & > input:nth-child(2) {
                        margin-top: 2rem;
                    }
                    & > input {
                        display: inline-block;
                    }
                }
                & > div:not(:first-child) {
                    margin-top: 2rem;
                    display: flex;
                    justify-content: center;
                    // justify-content: space-between; 
                    & > input {
                        display: inline-block;
                    }
                    & > textarea {
                        height: 15rem;
                    }
                }
                & input, & textarea {
                    width: 90%;
                    padding: 1rem 2.5rem;
                    border-radius: 1rem;
                    border: 1px solid var(--light-grey-4);
                }
            }
            &__button {
                display: block;
                background-color: var(--light-blue-1);
                color: var(--white);
                border: none;
                padding: 1rem 1.5rem;
                width: 90%;
                border-radius: 5rem;
                margin-top: 2rem;
                font-size: 1.5rem;
                margin-right: auto;
                margin-left: auto;
            }
        }
        &__faqs-container {
            padding: 3rem 2rem;
        }
        &__faqs {
            &__card {
                cursor: pointer;
                position: relative;
                & > input[type="checkbox"] {
                    display: none;
                    &:checked {
                        & + label {
                            & .contact__faqs__plus-icon {
                                position: absolute;
                                visibility: none;
                                opacity: 0;
                                transition: opacity 150ms;
                            }
                            & .contact__faqs__minus-icon {
                                position: relative;
                                visibility: visible;
                                opacity: 1;
                                transition: opacity 200ms;
                            }
                        }   
                        & ~ .contact__faqs__answer {
                            transition: transform 300ms;
                            transform: translateY(.6rem);
                            position: relative;
                            visibility: visible;
                            opacity: 1;
                            margin-bottom: 5px;
                        }
                    }
                }
                & > label {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 1rem 1.5rem;
                }
                & > p {
                    margin-top: 1rem;
                    height: 10rem;
                }
                & > p, & > label {
                    border: 1px solid var(--light-grey-5);
                    padding: 1rem 1.5rem;
                }
                &:first-of-type {
                    margin-top: 2rem;
                }
                &:not(:first-of-type) {
                    margin-top: 1.5rem;
                }
            }
            &__image {
                display: none;
            }
            &__minus-icon {
                position: absolute;
                opacity: 0;
            }
            &__plus-icon {
                position: relative;
            }
            &__question {
                font-size: 1.3rem;
                font-weight: 500;
            }
            &__answer {
                position: absolute;
                visibility: none;
                opacity: 0;
                font-size: 1.3rem;
                transform: translateY(0);
                transform: translateY(-1rem);
                transition: transform 300ms,
                            opacity 100ms;
            }
        }
        &__next-steps {
            padding: 5rem 2rem;
            color: var(--white);
            background-color: var(--light-blue-1);
            text-align: center;
            & > h1 {
                font-size: 2.5rem;
                font-weight: 600;
            }
            & > p {
                font-size: 1.4rem;
                margin-top: 2rem;
            }
            & > button {
                margin-top: 2rem;
            }
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .contact {
        &__nav {
            & > ul {
                display: none
            }
        }
        &__backdrop {
            background: url('../../images/contact/man-typing-lg.png');
            background: url('../../images/contact/man-typing-lg.webp');
            background-size: cover;
            height: 70rem;
            background-repeat: no-repeat;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(0, 0, 0, 0.4);
            }
            & > div {
                width: 65%;
                color: var(--white);
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                & > h1 {
                    font-size: 4rem;
                }
                & > p {
                    font-size: 1.6rem;
                    margin-top: 2rem;
                }
            }
            &__buttons {
                margin-top: 3rem;
            }
            &__button {
                padding: 1.5rem;
                width: 20rem;
                font-size: 1.6rem;
            }
        }
        &__heading {
            display: inline-block;
            padding: 5px;
            margin-left: 0;
            text-align: center;
            transform: translateX(0);
            &--primary {
                font-size: 2rem;
                // border-bottom: 5px solid var(--light-blue-1);
            }
            &--secondary {
                font-size: 2.5rem;
                margin-top: 2rem;
                text-align: left
            }    
        }
        &__contact-info-message-container {
            padding: 3rem 7rem;
            display: flex;
            justify-content: space-between;
        }
        &__contact-info {
            flex-basis: 35%;
            &__message {
                text-align: left;
            }
            &__list {
                margin-left: 0;
            }
        }
        &__form-section {
            flex-basis: 55%;
            margin-top: 0;
            &__form {
                & > div:first-child {
                    margin-top: 3rem;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;   
                    & > input:nth-child(2) {
                        margin-top: 0;
                    }
                    & > input {
                        flex-basis: 45%;
                        display: block;
                    }
                }
                & > div:not(:first-child) {
                    margin-top: 2rem;
                    display: flex;
                    justify-content: center;
                    // justify-content: space-between; 
                    & > input {
                        display: inline-block;
                    }
                    & > textarea {
                        height: 15rem;
                    }
                }
                & input, & textarea {
                    width: 100%;
                    padding: 1rem 2.5rem;
                    border-radius: 1rem;
                    border: 1px solid var(--light-grey-4);
                }
            }
            &__button {
                display: inline;
                width: 20rem;
                padding: 1rem 1.5rem;
                border-radius: 5rem;
                margin-top: 3rem;
                font-size: 1.6rem;
            }
        }
        &__faqs-container {
            padding: 6rem 7rem;
            display: flex;
            justify-content: space-between;
            margin-bottom: 10rem;
        }
        &__faqs {
            flex-basis: 55%;
            &__card {
                & > label {
                    cursor: pointer;
                }
            }
            &__image {
                display: inline-block;
                flex-basis: 40%;
                width: 40rem;
                height: auto;
                object-fit: cover;
            }
        }
      
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .contact {
        &__backdrop {
            height: 50rem;
            background-repeat: no-repeat;
            background-position: center;
            position: relative;
        }
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}   
    