<!DOCTYPE html>
<html lang="en"> 
    <head>
        <meta charset="utf-8">
        <title>About</title> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <nav-default></nav-default>
            <div class="about__banner-image">
                <div class="about__banner-text">
                    <h2>We help individuals and couples foster stronger emotional connections, and thrive in their relationships.</h2>
                    <p>We are dedicated to helping individuals and couples navigate the complexities of relationships through a 
                        blend of psychological, therapeutic, and sociological principles.</p>
                </div>
            </div>
        </header>
        <main>
            <section class="about__section about__section--our-focus">
                <div>
                    <picture>
                        <source srcset="../../images/about/hands-together.webp" type="image/webp" />
                        <img src="../../images/about/hands-together.png" alt="People putting their hands together">
                    </picture> 
                </div>
                <article>
                    <h2 class="about__heading">OUR FOCUS</h2>
                    <ul class="about__focus-ul">
                        <li class="about__list-item">
                            <h2>Strengthening Marriages</h2>
                            <p>Lorem ipsum dolor sit amet consectetur. Arcu et 
                                quisque lorem faucibus eget dictumst viverra metus. 
                                Aliquam ullamcorper sed neque egestas donec.</p>
                        </li>
                        <li class="about__list-item">
                            <h2>Improving Single Relationships</h2>
                            <p>Lorem ipsum dolor sit amet consectetur. Arcu et 
                                quisque lorem faucibus eget dictumst viverra metus. 
                                Aliquam ullamcorper sed neque egestas donec.</p>
                        </li>
                        <li class="about__list-item last">
                            <h2>Guiding Divorce Transitions</h2>
                            <p>Lorem ipsum dolor sit amet consectetur. Arcu et 
                                quisque lorem faucibus eget dictumst viverra metus. 
                                Aliquam ullamcorper sed neque egestas donec.</p>
                        </li>
                    </ul>
                </article>
            </section>

            <section class="about__section about__mission">
                <article>
                    <h2 class="about__heading">OUR MISSION</h2>
                    <p>Let us walk with you on your journey</p>
                    <ul class="about__focus-ul">
                        <li class="about__mission__list-item">
                            <p>Expertise in relationship counseling, grounded in clinical frameworks like 
                                the  Gottman Method and Emotionally Focused Therapy (EFT)</p>
                        </li>
                        <li class="about__mission__list-item">
                            <p>Tailored solutions to meet the unique needs of every individual or couple.</p>
                        </li>
                        <li class="about__mission__list-item last">
                            <p>A trauma-informed approach to ensure safe and effective healing</p>
                        </li>
                    </ul>                        
                </article>
                <div>
                    <picture>
                        <source srcset="../../images/about/lady-head-tilted.webp" type="image/webp" />
                        <img src="../../images/about/lady-head-tilted.jpeg" alt="Lady with head tilted">
                    </picture> 
                </div>
            </section>


            <!-- Partners section -->

            <section class="about__section about__section--partners">
                <h2 class="about__heading">OUR PARTNERS</h2>
                <div>
                    <h2>Meet the talented team who make all this happen</h2>
                    <p>Lorem ipsum dolor sit amet consectetur. Arcu et 
                        quisque lorem faucibus eget dictumst viverra metus. 
                        Aliquam ullamcorper sed neque egestas donec.</p>
                </div>
                
                <div class="about__section--partners__cards">
                    <article class="about__section--partners__card">
                        <picture>
                            <source srcset="../../images/about/guy-with-hat.webp" type="image/webp" />
                            <img src="../../images/about/guy-with-hat.png" alt="Guy with hat">
                        </picture>
                        <div class="about__section--partners__description">
                            <h3>Daniel Williams</h3>
                            <p>Founder & CEO</p>
                        </div>
                    </article>

                    <article class="about__section--partners__card">
                        <picture>
                            <source srcset="../../images/about/lady-tiara.webp" type="image/webp" />
                            <img src="../../images/about/lady-tiara.jpeg" alt="Lady with tiara">
                        </picture>
                        <div class="about__section--partners__description">
                            <h3>Daniel Williams</h3>
                            <p>Founder & CEO</p>
                        </div>
                    </article>

                    <article class="about__section--partners__card">
                        <picture>
                            <source srcset="../../images/about/lady-glasses.webp" type="image/webp" />
                            <img src="../../images/about/lady-glasses.jpeg" alt="Lady with glasses">
                        </picture>
                        <div class="about__section--partners__description">
                            <h3>Daniel Williams</h3>
                            <p>Founder & CEO</p>
                        </div>
                    </article>

                    <article class="about__section--partners__card">
                        <picture>
                            <source srcset="../../images/about/man-cap.webp" type="image/webp" />
                            <img src="../../images/about/man-cap.jpeg" alt="Man with cap">
                        </picture>
                        <div class="about__section--partners__description">
                            <h3>Daniel Williams</h3>
                            <p>Founder & CEO</p>
                        </div>
                    </article>

                    <article class="about__section--partners__card">
                        <picture>   
                            <source srcset="../../images/about/passport-man.webp" type="image/webp" />
                            <img src="../../images/about/passport-man.jpeg" alt="Man with actual passport photograph">
                        </picture>
                        <div class="about__section--partners__description">
                            <h3>Daniel Williams</h3>
                            <p>Founder & CEO</p>
                        </div>
                    </article>
                </div>

                <button class="about__section--partners__button">Join our team</button>
            </section>


            <!-- Testimonials section -->
            <section class="about__section about__section--our-testimonials">
                <h2 class="about__heading">OUR TESTIMONIALS</h2>
                <div>
                    <h2>Life changing stories from our clients</h2>
                    <p>Lorem ipsum dolor sit amet consectetur. Arcu et 
                        quisque lorem faucibus eget dictumst viverra metus. 
                        Aliquam ullamcorper sed neque egestas donec.</p>
                </div>
                
                <div class="about__cards">
                    <testimonial-card></testimonial-card>
                    <testimonial-card></testimonial-card>
                    <testimonial-card></testimonial-card>
                    <testimonial-card></testimonial-card>
                </div>
            </section>
        </main>
        <footer-default></footer-default>
    </body>
</html>