<!DOCTYPE html>
<html lang="en"> 
    <head>
        <meta charset="utf-8">
        <title>About</title> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <nav-default></nav-default>
        </header>
        <main>
            <section class="about__features-section">
                <div>

                </div>
                <article>
                    <h2 class="about__heading">OUR FOCUS</h2>
                    <ul class="about__focus">
                        <li class="about__focus-item">
                            <h2>Strengthening Marriages</h2>
                            <p>Lorem ipsum dolor sit amet consectetur. Arcu et 
                                quisque lorem faucibus eget dictumst viverra metus. 
                                Aliquam ullamcorper sed neque egestas donec.</p>
                        </li>
                        <li class="about__focus-item">
                            <h2>Improving Single Relationships</h2>
                            <p>Lorem ipsum dolor sit amet consectetur. Arcu et 
                                quisque lorem faucibus eget dictumst viverra metus. 
                                Aliquam ullamcorper sed neque egestas donec.</p>
                        </li>
                        <li class="about__focus-item">
                            <h2>Guiding Divorce Transitions</h2>
                            <p>Lorem ipsum dolor sit amet consectetur. Arcu et 
                                quisque lorem faucibus eget dictumst viverra metus. 
                                Aliquam ullamcorper sed neque egestas donec.</p>
                        </li>
                    </ul>
                </article>
            </section>

            <section class="about__how-it-works-section">
                <article>
                    <h2 class="about__heading">OUR MISSION</h2>
                    <ul class="about__how-it-works">
                        <li class="about__how-it-works__item about__how-it-works__item--row">
                            <div class="about__how-it-works__item-text">
                                <h1>Fill out a short questionnaire</h1>
                                <p>Lorem ipsum dolor sit amet consectetur. Arcu et 
                                    quisque lorem faucibus eget dictumst viverra metus. 
                                    Aliquam ullamcorper sed neque egestas donec.</p>
                            </div>
                        </li>
                        <li class="about__how-it-works__item about__how-it-works__item--row-reverse">
                            <div class="about__how-it-works__item-text">
                                <h1>Get matched with a therapist</h1>
                                <p>Lorem ipsum dolor sit amet consectetur. Arcu et 
                                    quisque lorem faucibus eget dictumst viverra metus. 
                                    Aliquam ullamcorper sed neque egestas donec.</p>
                            </div>  
                        </li>
                        <li class="about__how-it-works__item about__how-it-works__item--row">
                            <div class="about__how-it-works__item-text">
                                <h1>Start your first session (Video, Chat, or Call)</h1>
                                <p>Lorem ipsum dolor sit amet consectetur. Arcu et 
                                    quisque lorem faucibus eget dictumst viverra metus. 
                                    Aliquam ullamcorper sed neque egestas donec.</p>
                            </div>
                        </li>
                    </ul>
                </article>
                <div>

                </div>
            </section>


            <!-- Partners section -->

            <section class="about__life-stories-section">
                <h2>OUR PARTNERS</h2>
                <div>
                    <h2 class="about__heading">What we offer</h2>
                    <p>Lorem ipsum dolor sit amet consectetur. Arcu et 
                        quisque lorem faucibus eget dictumst viverra metus. 
                        Aliquam ullamcorper sed neque egestas donec.</p>
                </div>
                
                <div class="about__what-we-offer-section__cards">
                    <article class="about__what-we-offer-section__card">
                        <picture>
                            <source srcset="../../images/home/individual-therapy-sm.webp" type="image/webp" />
                            <img src="../../images/home/individual-therapy-sm.png" alt="individual therapy">
                        </picture>
                        <div class="about__what-we-offer-section__card-description">
                            <h3>Individual Therapy</h3>
                            <button>Consult now</button>
                        </div>
                    </article>

                    <article class="about__what-we-offer-section__card">
                        <picture>
                            <source srcset="../../images/home/pre-marital-counselling-sm.webp" type="image/webp" />
                            <img src="../../images/home/pre-marital-counselling-sm.png" alt="pre-marital counselling">
                        </picture>
                        <div class="about__what-we-offer-section__card-description">
                            <h3>Pre-marital Counselling</h3>
                            <button>Consult now</button>
                        </div>
                    </article>

                    <article class="about__what-we-offer-section__card">
                        <picture>
                            <source srcset="../../images/home/couples-therapy-sm.webp" type="image/webp" />
                            <img src="../../images/home/couples-therapy-sm.png" alt="couples therapy">
                        </picture>
                        <div class="about__what-we-offer-section__card-description">
                            <h3>Couples Therapy</h3>
                            <button>Consult now</button>
                        </div>
                    </article>

                    <article class="about__what-we-offer-section__card">
                        <picture>   
                            <source srcset="../../images/home/breakup-sm.webp" type="image/webp" />
                            <img src="../../images/home/breakup-sm.png" alt="individual therapy">
                        </picture>
                        <div class="about__what-we-offer-section__card-description">
                            <h3>Breakup Recovery</h3>
                            <button>Consult now</button>
                        </div>
                    </article>
                </div>
            </section>


            <!-- Testimonials section -->
            <section class="about__life-stories-section">
                <h2>OUR TESTIMONIALS</h2>
                <div>
                    <h2>Life changing stories from our clients</h2>
                    <p>Lorem ipsum dolor sit amet consectetur. Arcu et 
                        quisque lorem faucibus eget dictumst viverra metus. 
                        Aliquam ullamcorper sed neque egestas donec.</p>
                </div>
                
                <div class="about__life-stories-section__cards">
                    <article class="about__life-stories-section__card">
                        <p>Lorem ipsum dolor sit amet consectetur. Arcu et quisque lorem faucibus eget dictumst viverra metus. Aliquam ullamcorper sed neque egestas donec.</p>
                        <div class="about__life-stories-section__user-details">
                           <img src="../../images/home/test-card-1-sm.jpeg" alt="reviewer 1" />
                           <div>
                                <p>Grace Tofunmi</p>
                                <p>Marketer</p>
                            </div>
                        </div>
                    </article>

                    <article class="about__life-stories-section__card">
                        <p>Lorem ipsum dolor sit amet consectetur. Arcu et quisque lorem faucibus eget dictumst viverra metus. Aliquam ullamcorper sed neque egestas donec.</p>
                        <div class="about__life-stories-section__user-details">
                            <img src="../../images/home/test-card-2-sm.jpeg" alt="reviewer 2" />
                            <div>
                                <p>Daniel Willian</p>
                                <p>Trader</p>
                            </div>
                         </div>
                    </article>

                    <article class="about__life-stories-section__card">
                        <p>Lorem ipsum dolor sit amet consectetur. Arcu et quisque lorem faucibus eget dictumst viverra metus. Aliquam ullamcorper sed neque egestas donec.</p>
                        <div class="about__life-stories-section__user-details">
                            <img src="../../images/home/test-card-3-sm.jpeg" alt="reviewer 3" />
                            <div>
                                <p>White Willian</p>
                                <p>Banker</p>
                            </div>
                         </div>
                    </article>

                    <article class="about__life-stories-section__card">
                        <p>Lorem ipsum dolor sit amet consectetur. Arcu et quisque lorem faucibus eget dictumst viverra metus. Aliquam ullamcorper sed neque egestas donec.</p>
                        <div class="about__life-stories-section__user-details">
                            <img src="../../images/home/test-card-4-sm.jpeg" alt="reviewer 4" />
                            <div>
                                <p>White Willian</p>
                                <p>Banker</p>
                            </div>
                        </div>
                    </article>
                </div>
            </section>
        </main>
        <footer-default></footer-default>
    </body>
</html>