<!DOCTYPE html>
<html lang="en"> 
    <head>
        <meta charset="utf-8">
        <title>Home</title> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <header class="home"> 
            <nav class="home__nav">
                <div class="home__logo">
                    <p class="home__logo-upper-text">VIRTUAL</p>
                    <p class="home__logo-lower-text">LOVE ACADEMY</p>
                </div>
                <button class="home__nav-mobile-toggle"></button>
            </nav>
            <div class="home__image-text">
                <h1>Strengthen Your Relationships with Expert Guidance</h1>
                <p>Get professional relationship therapy anytime, anywhere.</p>
                <button class="home__start-therapy-btn">Start Therapy</button>
            </div>

            <img
                src="/couple-image-lg.png"
                srcset="/couple-image-sm.png 400w, /couple-image-md.png 800w"
                alt="A man and a lady holding hands"
                class="home__couple-image"
            /> 
        </header>
    </body>
</html>