<!DOCTYPE html>
<html lang="en"> 
    <head>
        <meta charset="utf-8">
        <title>Home</title> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <header class="home"> 
            <nav class="home__nav">
                <div class="home__logo">
                    <p class="home__logo-upper-text">VIRTUAL</p>
                    <p class="home__logo-lower-text">LOVE ACADEMY</p>
                </div>
                <button class="home__nav-toggle">
                    <p class="home__nav-toggle-element"></p>
                </button>
                <ul class="home__mid-screen-plus-nav">
                    <li>Course</li>
                    <li>About</li>
                    <li>Services</li>
                    <li>Contact</li>
                </ul>

                <div class="home__mid-screen-plus-buttons__container">
                    <button class="home__mid-screen-plus-button home__mid-screen-plus-button--login">Log in</button>
                    <button class="home__mid-screen-plus-button home__mid-screen-plus-button--get-started">Get Started</button>
                </div>
            </nav>
            <div class="home__image-text">
                <h1 class="home__main-heading">Strengthen Your Relationships with Expert Guidance</h1>
                <p class="home__sub-heading">Get professional relationship therapy anytime, anywhere.</p>
                <button class="home__start-therapy-btn">Start Therapy</button>
            </div>

            <!-- Couple image -->
            <div class="home__couple-image-container">
               
            </div>

            <img
                src="/home/couple-image-lg.png"
                srcset="/home/couple-image-sm.png 400w, /home/couple-image-md.png 800w"
                class="home__couple-image"
            /> 

            <!-- Man In Pocket Image -->
            <div class="home__man-in-pocket-container">
               
            </div>
            <img
                src="/home/man-in-pocket-sm.png"
                class="home__man-in-pocket"
            /> 

            <div class="home__inverted-couple-container">
               
            </div>
            <img
                src="/home/inverted-couple-sm.png"
                class="home__inverted-couple"
            /> 
        </header>

        <main>
            <section class="home__features-section">
                <ul class="home__features">
                    <li class="home__features__item">
                        <img
                            src="/home/expert-relationship-therapists-sm.png"
                            alt="Three beings holding hands"
                        /> 
                        <p>Expert Relationship Therapists</p>
                    </li>
                    <li class="home__features__item">
                        <img
                            src="/home/flexible-affordable-sm.png"
                            alt="Three beings holding hands"
                        /> 
                        <p>Flexible & Affordable Plans</p>
                    </li>
                    <li class="home__features__item">
                        <img
                            src="/home/private-secure-sm.png"
                            alt="Three beings holding hands"
                        /> 
                        <p>Private & Secure Communication</p>
                    </li>
                </ul>
            </section>

            <section class="home__how-it-works-section">
                <h1 class="home__how-it-works-section__heading">How it Works</h1>

                <ul class="home__how-it-works">
                    <li class="home__how-it-works__item home__how-it-works__item--row">
                        <img
                            src="/home/questionnaire-sm.png"
                            srcset="/home/customer-survey.png 786w"
                            alt="Questionnaire"
                        /> 
                        <div class="home__how-it-works__item-text">
                            <h1>Fill out a short questionnaire</h1>
                            <p>Lorem ipsum dolor sit amet consectetur. Arcu et 
                                quisque lorem faucibus eget dictumst viverra metus. 
                                Aliquam ullamcorper sed neque egestas donec.</p>
                        </div>
                    </li>
                    <li class="home__how-it-works__arrow-downward"></li>
                    <li class="home__how-it-works__item home__how-it-works__item--row-reverse">
                        <img
                            src="/home/group-therapy-sm.png"
                            srcset="/home/group-therapy.png 786w"
                            alt="Group therapy"
                        /> 
                        <div class="home__how-it-works__item-text">
                            <h1>Get matched with a therapist</h1>
                            <p>Lorem ipsum dolor sit amet consectetur. Arcu et 
                                quisque lorem faucibus eget dictumst viverra metus. 
                                Aliquam ullamcorper sed neque egestas donec.</p>
                        </div>  
                    </li>
                    <li class="home__how-it-works__arrow-downward"></li>
                    <li class="home__how-it-works__item home__how-it-works__item--row">
                        <img
                            src="/home/first-session-call-sm.png"
                            srcset="/home/calling.png 786w"
                            alt="First session call"
                        /> 
                        <div class="home__how-it-works__item-text">
                            <h1>Start your first session (Video, Chat, or Call)</h1>
                            <p>Lorem ipsum dolor sit amet consectetur. Arcu et 
                                quisque lorem faucibus eget dictumst viverra metus. 
                                Aliquam ullamcorper sed neque egestas donec.</p>
                        </div>
                    </li>
                </ul>
            </section>
        </main>
    </body>
</html>