<!DOCTYPE html>
<html lang="en"> 
    <head>
        <meta charset="utf-8">
        <title>Home</title> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>
    <body>

        <section class="home">
            <div class="home__image-container">
                <div class="home__image">

                </div>
                <!-- <img
                    src="/img/home-cover-md.png"
                    alt="A man and a lady in therapy"
                    srcset="/img/home-cover-sm.png 400w"
                    class="home__image"
                /> -->

                <div class="home__image-text">
                    <h1>Strengthen Your Relationships with Expert Guidance</h1>
                    <p>Get professional relationship therapy anytime, anywhere.</p>

                    <button>Start Therapy</button>
                </div>

            </div>
        </section>
    </body>
</html>